.g-verde {
    background-color:#009688;
}
.bg-gris {
    background-color:#6c757d!important
}
body{
    background-image:url('img/cream_pixels.png');
}
.text-azul{
	color:#013a6b !important;
}
.btn-consulta{
    background-color: #6bb4e0 !important;
    border-color: #6bb4e0 !important;
    color: #fff;
}
.btn-outline-consulta {
    color: #6bb4e0;
    background-image: none;
    background-color: transparent;
    border-color: #6bb4e0;
}
.btn-outline-consulta:active, .btn-outline-consulta.active {
    color: #fff;
    background-color: #6bb4e0;
    border-color: #6bb4e0;
}
.gris-claro{
    background-color:#868e9652;
}
